.step.modern{ "id" => "json1", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  {<br/>
  &nbsp;&nbsp;"voitures": [<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;{"marque": "Renault",<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"modèle": "Mégane",<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"moteurs": [<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ "essences": [ "12ch", "20ch" ] },<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ "desiels": [ "24ch", "15ch" ] }<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;},<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;{<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"marque": "Renault",<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"modèle": "Safrane"<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;},<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;{<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"marque": "Peugeot",<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"modèle": "306"<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;}<br/>
  &nbsp;&nbsp;]<br/>
  }
