.step.modern{ "id" => "api1", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %p
    Google, Facebook ou encore la SNCF proposent des APIs qui vont permettre à une application d’obtenir via <b>AJAX</b> des données et de les afficher comme ils le désirent. Pour ce faire, une 
    %b
      API web
    est souvent normalisée 
    %b
      CRUD
    et retourne des 
    %b
      JSONs.
  %p
    =image_tag "images/api.png"