.step.modern{ "id" => "get", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %p
    Un 
    %b
      get
    http envoyé vers le serveur doit déclencher un 
    %b
      select
    dans la DB. 