.step.modern{ "id" => "json", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %b
    JSON
  %p
    Il s’agit d’un format de données textuelles dérivé des 
    %b
      objets
    du langage 
    %b
      JavaScript.
    Il permet de représenter de l’information structurée.
