.step.modern{ "id" => "json1", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %p
    { "voiture" :
    %br
    &nbsp;&nbsp;{ "marque" : "Renault", "model" : "Mégane"}, 
    %br
    &nbsp;&nbsp;{ "marque" : "Renault", "model" : "Safrane"}, 
    %br
    &nbsp;&nbsp;{ "marque" : "Peugeot", "model" : "306"} 
    %br
    }