.step.modern{ "id" => "presentation", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale], "data-rotate-x" => "-20", "data-rotate-y" => "10" }
  On est passé à la création
  %b
    d'applications dynamiques.