.step.modern{ "id" => "put", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %p
    Un 
    %b
      put
    http envoyé vers le serveur doit déclencher un 
    %b
      update
    dans la DB. 