.step.modern{ "id" => "ajax", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %b
    AJAX
  %p
    =link_to "L'Asynchronous", "https://developer.mozilla.org/fr/docs/Web/API/XMLHttpRequest"
    JavaScript and XML arrive sur les 
    %b
      navigateurs
    entre  1995 et 2005; il permet de construire des 
    %b
      applications Web
    plus dynamiques. Le 
    %b
      JavaScript
    va communiquer avec le serveur en 
    %b
      arrière-plan
    via l’objet JavaScript 
    %b
      XMLHttpRequest
    qui lui transmettra les données sous forme de XML (aujourd’hui de 
    %b
      json
    ).
