.step.slide{ "id" => "css", "data-x" => :x, "data-y" => :y }
  %b 
    CSS
  %p
    Il s’agit de feuilles de style en cascade introduit en 1990 par les <b>navigateurs</b> qui standardisent l’<b>habillage</b> des <b>pages</b> webs. 
  %p
    Sous la pression des développeurs, des navigateurs comme <b>Nescape</b> proposent alors d’habiller la structure HTML avec les feuilles fournis et non les leurs.
  %pre
    %code{"class" => "css"}= partial 'slide_1/slide_css_code.html'