.step.slide{ "id" => "question_1", "data-x" => locals[:x], "data-y" => locals[:y] }
  %b 
    Qu'est-ce qui a changé depuis 1995 ?
  %p
    Depuis le 
    %b
      HTML5
    les balises de marquage nous permettent d'activer le GPS, la caméra, de modifier des images, etc.
  %p
    Que dire du 
    %b
      CSS3
    \? Combiné à des déclencheurs javascript, il permet de mouvoir les éléments du DOM comme le fait cette présentation.
  %p
    Grâce au travail collaboratif de la communauté web, on a 
    %b
      standardisé
    \, 
    %b
      optimisé
    \, 
    %b
      factorisé
    et 
    %b
      structuré. 
  %p
    À tel point, que le web est devenu un outil extrêmement 
    %b
      puissant
    et 
    %b
      fiable 
    utilisé par les plus grosses multi-nationales. 
  %p
    Google et Mozilla sont de très gros contributeurs, mais Microsoft se met lui aussi à la page depuis quelques temps.
