.step.slide{ "id" => "index", "data-x" => locals[:x], "data-y" => locals[:y] }
  %center
    Présentation
  %hr
  %p
    Je m'appelle <b>Alain ANDRE</b>, je suis titulaire d'un BTS informatique et je m'intéresse au web depuis les années 2000.
  %p
    Je travaille avec des collaborateurs internationaux sur de plus ou moins gros projets depuis 2012 et je tiens un blog disponible à cette <a href="http://alain-andre.fr">adresse</a>. 
  %p
    Je suis passionné par le web et je m'intéresse de trés près aux évolutions du projet <a href="https://wiki.mozilla.org/Booting_to_the_Web">Boot2Gecko</a>.
  %p
    Je vais vous présenter les origines du web et son avenir !
  #copyright
    Copyright 2015 Alain ANDRE.
