.step.slide{ "id" => "url", "data-x" => locals[:x], "data-y" => locals[:y] }
  =partial 'slide_1/slide_url_main.haml'
.step.slide{ "id" => "url-besoin", "data-x" => locals[:x], "data-y" => locals[:y] }
  =partial 'slide_1/slide_url_main.haml'
  %hr
  %p
    Pour cela elle a besoin :
.step.slide{ "id" => "url-protocole", "data-x" => locals[:x], "data-y" => locals[:y] }
  =partial 'slide_1/slide_url_main.haml'
  %hr
  %p
    D'un 
    %b
      protocole 
    (HTTP, HTTPS, FTP) :
  %hr
  %p
    %b
      http://
.step.slide{ "id" => "url-auth", "data-x" => locals[:x], "data-y" => locals[:y] }
  =partial 'slide_1/slide_url_main.haml'
  %hr
  %p 
    De données d’
    %b
      authentification 
    \:
  %hr
  %p
    http://
    %b
      Jojo:lApIn
.step.slide{ "id" => "url-domaine", "data-x" => locals[:x], "data-y" => locals[:y] }
  =partial 'slide_1/slide_url_main.haml'
  %hr
  %p
    Du nom de 
    %b
      domaine 
    du service :
  %hr
  %p
    http://Jojo:lApIn@
    %b
      www.example.com
.step.slide{ "id" => "url-port", "data-x" => locals[:x], "data-y" => locals[:y] }
  =partial 'slide_1/slide_url_main.haml'
  %hr
  %p
    D'une indication de numéro de 
    %b
      port 
    \:
  %hr
  %p
    http://Jojo:lApIn@www.example.com
    %b
      \:8080
.step.slide{ "id" => "url-port", "data-x" => locals[:x], "data-y" => locals[:y] }
  =partial 'slide_1/slide_url_main.haml'
  %hr
  %p
    Du 
    %b
      nom complet 
    de la 
    %b
      ressource 
    à demander sur le service une fois connecté :
  %hr
  %p
    http://Jojo:lApIn@www.example.com:8080
    %b
      \/chemin/d/acc%C3%A8s.php
.step.slide{ "id" => "url-port", "data-x" => locals[:x], "data-y" => locals[:y] }
  =partial 'slide_1/slide_url_main.haml'
  %hr
  %p
    De 
    %b
      données 
    supplémentaires optionnelles, transmises au 
    %b
      service 
    \:
  %hr
  %p
    http://Jojo:lApIn@www.example.com:8080/chemin/d/acc%C3%A8s.php
    %b
      ?q=req&q2=req2
.step.slide{ "id" => "url-port", "data-x" => locals[:x], "data-y" => locals[:y] }
  =partial 'slide_1/slide_url_main.haml'
  %hr
  %p
    %b
      Données 
    supplémentaires optionnelles, pour l’
    %b
      exploitation 
    de la ressource après son obtention par le 
    %b
      logiciel client 
    \:
  %hr
  %p
    http://Jojo:lApIn@www.example.com:8080/chemin/d/acc%C3%A8s.php?q=req&q2=req2
    %b
      \#signet
