.step.slide{ "id" => "html", "data-x" => locals[:x], "data-y" => locals[:y] }
  %b 
    HTML
  %p
    Il s’agit d’un langage de <b>balisage</b> d’hypertexte créé en 1989 et qui évolue jusqu’en 1991 où il devient l’unique langage de <b>structuration</b> des pages webs.
  %pre
    %code{"class" => "html"}= partial 'slide_1/slide_html_code.html'