.step.slide{ "id" => "osvsweb", "data-x" => locals[:x], "data-y" => locals[:y] }
  %b 
    Natif / Web
  %p
    On appelle natif les
    %b
      programmes 
    executés sur un 
    %b
      OS. 
    Ce sont des programmes compilés la plus par du temps écrit en C++. Ces programmes ont des 
    %b
      droits 
    particuliers sur le 
    %b
      système; 
    ils peuvent par exemple s'apeller les uns les autres, obtenir des informations sur l'utilisateur, le système.
  %p
    Une 
    %b
      application web 
    elle est une suite de 
    %b
      fichiers 
    organisés sur un 
    %b
      serveur 
    distant et 
    %b
      interprétés 
    par un programme présent sur l'OS comme Firefox, Chrome, IExplorer. Ils n'ont 
    %b
      aucun droit 
    sur le client qui les interprète ou le système de l'utilisateur pour des raisons évidente de sécurité.
