.step.slide{ "id" => "index", "data-x" => locals[:x], "data-y" => locals[:y] }
  %center
    Présentation
  %hr
  %p
    Je suis Concepteur web et en veille technologique depuis les années 2000.
  %p
    Je travaille avec des collaborateurs internationaux sur de plus ou moins gros 
    =link_to "projets", "https://github.com/alain-andre/" 
    depuis 2012 et je tiens un blog disponible à cette 
    =link_to "adresse.", "http://alain-andre.fr"
  %p
    Je suis passionné par le web et je m'intéresse de trés près aux évolutions du projet 
    =link_to "Boot2Gecko", "https://wiki.mozilla.org/Booting_to_the_Web"
    , de 
    =link_to "Linux", "https://www.kernel.org/category/about.html"
    ainsi que de la
    =link_to "French Tech.", "http://www.lafrenchtech.com/"
  %p.center 
    =image_tag "firefox-60.png"
    =image_tag "linux-60.png"
    =image_tag "French-Tech-60.png"
  %p
    Cette présentation porte sur les capacités du web de ses origines à nos jours. Nous allons y voir les 
    %b
      technologies
    , les 
    %b
      architectures 
    ainsi que les 
    %b
      meilleures pratiques.
  #copyright
    Copyright 2015 Alain ANDRE.
