.step.slide{ "id" => "ressources", "data-x" => locals[:x], "data-y" => locals[:y] }
  %b 
    Terminologie
  %p
    Les 
    %b
      ressources 
    disponibles pour les 
    %b
      programmes 
    les interprétant sont des 
    %b
      fichiers 
    qui contiennent des 
    %b
      scripts
    \, du texte 
    %b
      balisé
    \, des informations de 
    %b
      décoration
    \; ils sont regroupé dans des dossiers.
  %p
    Certains scripts comme le PHP sont interprétés 
    %b
      côtés serveur 
    (back-end) et d'autres comme le JavaScript sont interprétés 
    %b
      côtés client 
    (front-end).
  %p
    Le back-end communique avec le front-end mais n'a 
    %b
      aucun droit dessus 
    et vise versa.
