.step.slide{ "id" => "osvsweb", "data-x" => locals[:x], "data-y" => locals[:y] }
  %b 
    Natif / Web
  %p
    On appelle natif les
    %b
      programmes 
    executés sur un 
    %b
      OS. 
    Ce sont des programmes compilés la plus par du temps écrit en C++. 
  %p
    Une 
    %b
      application web 
    elle, est une suite de 
    %b
      fichiers 
    organisés sur un 
    %b
      serveur 
    distant et 
    %b
      interprétés 
    par un programme présent sur l'OS comme Firefox, Chrome, IExplorer. 
  %p
    =image_tag "images/osvsweb.png"
