.step.slide{ "id" => "javascript", "data-x" => :x, "data-y" => :y }
  %b 
    Javacript
  %p
    Il s’agit d’un langage de programmation de <b>scripts</b> executé côté <b>client</b>, 
    =link_to "orienté objet à prototype", "https://developer.mozilla.org/fr/docs/Web/JavaScript/Introduction_%C3%A0_JavaScript_orient%C3%A9_objet#Programmation_orient.C3.A9e_prototype"
    (les fonctions créées sont elles-mêmes des objets de première classe), créé en 1995 pour le compte de Netscape et inspiré du Java.
  %pre
    %code{"class" => "javascript"}= partial 'slide_1/slide_javascript_code.html'