.step.slide{ "id" => "concept", "data-x" => locals[:x], "data-y" => locals[:y] }
  %p
    L’idée du web est de mettre à disposition sur une machine 
    %b
      distante 
    (serveur) des 
    %b
      scripts 
    interprétés et affichés par les programmes 
    %b
      clients 
    (les navigateurs)
  .center
    =image_tag "images/concept.png"
