.step.slide{ "id" => "question_1", "data-x" => locals[:x], "data-y" => locals[:y] }
  %b 
    Qu'est-ce qui a changé depuis 1995 ?
  %p
    Nous ne parlons plus depuis le <b>HTML5</b> de simple balises de marquage ; il nous permet d'activer le GPS, la caméra etc.
  %p
    Que dire du <b>CSS3</b> ? Combiné à des déclancheurs javascript, il permet de mouvoir les éléments du DOM comme le fait cette présentation.
  %p
    Grâce au travail collaboratif de la communauté web, on a <b>standardisé</b>, <b>optimisé</b>, <b>factorisé</b>, <b>structuré</b>. A tel point que le web est devenu un outil extrêmement puissant utilisé par la communication et le marketing en passant par les applicatifs.
