.step.slide{ "id" => "question_1", "data-x" => x, "data-y" => y }
  %b 
    Qu'est-ce qui a changé depuis 1994 ?
  %p
    On a <b>standardisé</b>, <b>optimisé</b>, <b>factorisé</b>, <b>structuré</b>. Nous ne parlons plus depuis le <b>HTML5</b> de simple balises de marquage ; il nous permet d'activer le GPS, la caméra etc. 
  %p
    Que dire du <b>CSS3</b> ? Combiné à des déclancheurs javascript, il permet de mouvoir les éléments du DOM comme le fait cette présentation.