.step.slide{ "id" => "osvsweb", "data-x" => locals[:x], "data-y" => locals[:y] }
  %b 
    Natif ou Web
  %p
    On appelle natif les programmes executés sur l'OS. Ce sont des programmes compilés la plus par du temps écrit en C++. Ces programmes ont des droits particuliers sur le système; ils peuvent par exemple s'apeller les uns les autres, obtenir des informations sur l'utilisateur, le système.
  %p
    Une application web elle est une suite de fichiers organisés sur un serveur distant et interprété par un programme présent sur l'OS comme Firefox, Chrome, IExplorer. Ils n'ont aucun droit sur le client qui les interprète ou le système de l'utilisateur pour des raisons évidente de sécurité.
