.step.slide{ "id" => "php", "data-x" => x, "data-y" => y }
  %b 
    PHP
  %p
    Il s’agit d’un langage de <b>script</b> utilisé côté <b>serveur</b> créé en 1994. Le Personal Home Page a été imaginé afin de pouvoir envoyer au client des <b>fichiers HTML différents</b> selon les informations reçus. 
  %p
    Il existe d’autres langages tel que le <b>Ruby</b>, le <b>python</b> ou encore le <b>.net</b>.
  %pre
    %code{"class" => "php"}= partial 'slide_1/slide_php_code.html'