.step.slide{ "id" => "concept", "data-x" => locals[:x], "data-y" => locals[:y] }
  %p
    L’idée est de mettre à disposition sur une machine distante (serveur) des fichiers interprétés et affichés par les programmes clients (les navigateurs)
  .center
    =image_tag "images/principe.png"