%b
  URL
%p
  L'Uniform Resource Locator est ce que l'on nomme de façon informelle une 
  %b
    adresse web.
%p
  Elle permet de demander une 
  %b
    ressource 
  sur un 
  %b
    domaine 
  World Wide Web.
