.step.modern{ "id" => "exemple", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %p
    Cette présentation par exemple utilise les dernières technologies et 
    %b
      pratiques Agile.
  %p
    Elle est développée en 
    %b
      Ruby
    \, utilise le 
    %b
      langage de génération dynamique 
    HAML, son code source est disponible sur un service web 
    %b
      d’hébergement et de gestion 
    de développement de logiciels utilisant 
    %b
      GIT. 
  %p
    Lors de la livraison du code source, des 
    %b
      tests 
    sont exécutés en 
    %b
      automatique 
    et s’ils sont validés, le service 
    %b
      livre le code généré 
    sur le serveur de production.