.step.modern{ "id" => "migration1", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %pre.migration
    %code{"class" => "ruby"}= partial 'slide_3/slide_migration1_code.html'
