.step.modern{ "id" => "structure", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %b
    La structure web
  %p
    Le web n’était pas très structuré en 1989 et s’est développé jusque dans les années 2000-2003 avec l’arrivée de l’
    %b
      ajax 
    et des concepts de 
    %b
      découpage 
    des structures.  
  %p
    Dans les années 2004, les développeurs ont posés deux principes dits 
    %b
      fondamentaux 
    qui ont mené à la création du framework RoR.
