.step.modern{ "id" => "repetition", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %p
    %b
      Ne vous répétez pas ! 
    Principe qui permet grâce à l’architecture 
    %b
      MVC 
    de n’avoir des éléments de l’application qu’à un seul endroit.
