.step.modern{ "id" => "agile", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %b
    Agile
  %p
    Des travaux menés des années 1930 à 1984 par divers sociétés ont abouti en 1991 à un modèle de gestion de projet 
    %b
      itératif
    \, 
    %b
      incrémental 
    et 
    %b
      adaptatif
    \. Ce modèle permettait de gérer des projets de façon 
    %b
      plus rapide 
    et 
    %b
      plus réactive 
    que la gestion dite traditionnelle. 
  %p
    En 2001, 17 des plus éminents personnages du développement logiciel (notamment 
    %b
      Ward Cunningham 
    inventeur du wiki, 
    %b
      Kent Beck 
    fondateur de l’Xtrem Programming ou encore 
    %b
      Jeff Sutherland 
    créateur du SCRUM) se réunissent et écrivent le 
    %b
      Manifeste Agile.
