.step.modern{ "id" => "migration", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %b
    Migration de base
  %p
    Il s’agit d’une 
    %b
      technique 
    visant à modifier la 
    %b
      structure 
    des données de façon simple, 
    %b
      rapide 
    et 
    %b
      versionnée. 
  %p
    Il devient alors possible d’agir de façon agile en modifiant la structure de tables 
    %b
      déjà créées 
    mais qui au fil du projet et des 
    %b
      demandes du client 
    devient bloquantes. 
  %p
    Par son versionning il est possible de 
    %b
      retirer 
    une ou un groupe de  
    %b
      modifications.
