.step.modern{ "id" => "orm", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %b
    ORM
  %p
    Le mapping objet-relationnel est une technique de programmation informatique qui crée l’illusion d’une base de données orientée objet à partir d’une base de données relationnelle en définissant des correspondances entre cette base de données et les objets du langage utilisé. Cette technique permet d’écrire des requêtes dans les modèles d’une seule façon alors que l’application va utiliser différentes base de données. Par exemple, l’utilisation du SqliLite en développement ou en test ne posera aucune modification de code à la mise en production sur du PostgreSql.
  %p
    Exemple de récupération de tous les enregistrements de la table utilisateur et de leur stockage dans les models.
  %pre.migration
    %code{"class" => "ruby"}
      users = User.all
      users[0].name # Affiche Alain.