.step.modern{ "id" => "orm", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %b
    ORM
  %p
    Le mapping objet-relationnel est une technique de programmation informatique qui crée l’
    %b
      illusion 
    d’une 
    %b
      base de données 
    orientée 
    %b
      objet 
    à partir d’une base de données 
    %b
      relationnelle 
    en définissant des 
    %b
      correspondances 
    entre cette 
    %b
      base 
    de données et les 
    %b
      objets 
    du langage utilisé.
      