.step.modern{ "id" => "exemple", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %p
    Cette présentation par exemple utilise les dernières technologies et pratiques Agile.
  %p
    Elle est développée en Ruby, utilise le langage de génération dynamique HAML, son code source est disponible sur un service web d’hébergement et de gestion de développement de logiciels utilisant GIT. 
  %p
    Lors de la livraison du code source, des tests sont exécutés et s’ils sont validés, le service livre le code généré sur le serveur de production.