.step.modern{ "id" => "convention", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %p
    %b
      Convention plutôt que configuration !
    Principe qui dit que l’on configure un élément seulement s’il n’entre dans aucune convention. Ceci permet de proposer des comportements par défaut pour la plupart des fonctionnalités.