.step{ "id" => "frameworks", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %b
    Frameworks
  %p.center
    =image_tag "images/nodejs-128.png"
    =image_tag "images/ruby-rails-128.png"
    =image_tag "images/bootstrap-128.png"
  %b
    Environnements
  %p.center
    =image_tag "images/linux-128.png"
    =image_tag "images/github-128.png"