.step.modern{ "id" => "generateurs", "data-x" => locals[:x], "data-y" => locals[:y], "data-rotate" => locals[:rotate], "data-scale" => locals[:scale] }
  %b
    Langages de génération dynamique
  %p
    haml, sass, erb, less, slim
  %p 
    Ce sont des langages élégants et minimalistes qui permettent d'écrire des templates ou d'intégrer des données de façon propre et rapide. Mais attention, la tabulation est extrêmement importante !